<div class="flex justify-center mt-3">
    <div class="line bg-black" style="height: 0.01rem;"></div>
</div>
<section class="flex justify-center">
    <div class="footer mt-3 flex justify-between">
        <h1 class="text-xl font-bold mt-2">
            © 2024 Galery Of Art | All rights reserved
        </h1>
        <div class="text-4xl">
            <a href="https://github.com/"><i class="bi bi-github" title="Open Source"></i></a>
            <a href="https://jhonaz.netlify.app"><i class="bi bi-fire" title="Creator"></i></a>
        </div>
    </div>
</section>

<style>
    .footer {
        width: 55rem;
    }
    .line {
        width: 57rem;
    }
    @media screen and (max-width: 940px) {
        .footer {
            width: 50rem;
        }
        .line {
            width: 53rem;
        }
    }
    @media screen and (max-width: 860px) {
        .footer {
            width: 45rem;
        }
        .line {
            width: 48rem;
        }
    }
    @media screen and (max-width: 780px) {
        .footer {
            width: 40rem;
        }
        .line {
            width: 45rem;
        }
    }
    @media screen and (max-width: 730px) {
        .footer {
            width: 35rem;
        }
        .line {
            width: 40rem;
        }
    }
    @media screen and (max-width: 650px) {
        .footer {
            flex-direction: column;
            text-align: center;
            width: 30rem;
        }
        .line {
            width: 35rem;
        }
    }
    @media screen and (max-width: 560px) {
        .footer {
            width: 25rem;
        }
        .line {
            width: 28rem;
        }
    }
    @media screen and (max-width: 460px) {
        .footer {
            width: 20rem;
        }
        .line {
            width: 23rem;
        }
    }
    @media screen and (max-width: 375px) {
        .footer {
            width: 15rem;
        }
        .line {
            width: 18rem;
        }
    }
</style>